USE [master]
GO
/****** Object:  Database [StudentDB]    Script Date: 06-04-2026 16:03:19 ******/
CREATE DATABASE [StudentDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StudentDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\StudentDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StudentDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\StudentDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentDB]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 06-04-2026 16:03:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Age] [int] NULL,
	[Course] [nvarchar](100) NOT NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([Id], [Name], [Email], [Age], [Course], [CreatedDate]) VALUES (1, N'Pratiksha', N'pratikshainje592gail.com', 23, N'.Net Full stack developer', CAST(N'2026-04-06T08:06:52.177' AS DateTime))
INSERT [dbo].[Students] ([Id], [Name], [Email], [Age], [Course], [CreatedDate]) VALUES (3, N'Ruchika', N'ruchika@gmail.com', 20, N'dotnet', CAST(N'2026-04-06T13:59:08.373' AS DateTime))
INSERT [dbo].[Students] ([Id], [Name], [Email], [Age], [Course], [CreatedDate]) VALUES (5, N'Sanika', N'sanika@gmail.com', 23, N'Angular Developer', CAST(N'2026-04-06T15:21:48.183' AS DateTime))
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
USE [master]
GO
